@{ 
    ViewBag.Title = "Home Page";
}
@*<!DOCTYPE html>*@



    <div class="product-info">
        <img src="~/Img/SK-A-3981.jpg" width="300" height="300"/>
        <h3> Mug</h3>
        <ul class="product-props">
            <li> Price: $9.99</li>
            <li>Artist: Van Gogh</li>
            <li>Title: </li>
            <li>Description: Self Potrait</li>
        </ul>
        <button id="buyButton" class="btn btn-secondary">Buy</button>
        <br />
    </div>
    <br />
    <br />
    <button id="toggleButton" class="btn btn-primary">Toggle</button>
    <div id="theform">
        <form class=" form-control">
            <label>Your Name</label>
            <br />
            <input style="font-size:18px; width:200px;" />
            <br />
            <label>Email</label>
            <br />
            <input type="email" />
            <br />
            <label>Subject</label>
            <br />
            <input type="text" />
            <br />
            <label>Password</label>
            <br />
            <input type="password" />
            <br />
            <label>Message</label>
            <br />
            <textarea rows="4"></textarea>
            <br />
            <input type="submit" value="Send Message" />
        </form>
    </div>


    <div>
        <div id="loginToggle">Login</div>
        <form class="popup-form">
            <div>
                <label>Username</label>
                <input />
            </div>
            <div>
                <label>Password</label>
                <input type="password" />
            </div>
            <div>
                <label>Remember Me?</label>
            </div>
            <div>
                <input type="submit" value="Login" />
            </div>
        </form>
    </div>